body{
    background: #333;
}

.countdown{
    font-size: 4em;
    text-align: center;
    margin: 200px auto;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
.countdown span{
    padding: 20px;
    background: #444;
}